<div class="container" >


<h1>BURGERS!</h1>

<h2>Welcome to your new favorite burger joint. Simply choose to devour one of our amazing burgers, or feel free to create your own. Don't worry if you can't remember what you last ate, we'll keep track of that for you. Eat up and start devouring!!</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Burger Choices</h3>
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
          {{this.id}}.{{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name "devoured" value="true">
            <button type="submit" class='devbtn'> Devour the {{burger_name}}</button>
          </form>

        </li>

        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Burgers that have been devoured!</h3>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
        {{this.id}}.{{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Add your own burger!!!!</h3>

      <form class="create-form" action="/" method="POST">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="burger_name">
        </div>

        <button class = "devbtn" type="submit">Add a Burger</button>
      </form>
    </div>
  </div>
</div>