<h1>BURGERS!</h1>
<div class="container" <h2>I know you are hungry, start devouring!</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Burgers!</h3>
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
          {{this.id}}.{{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name "devoured" value="true">
            <button type="submit" class='undevoured'> Devour the {{burger_name}}</button>
          </form>

        </li>

        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Burgers devoured!</h3>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
        {{this.id}}.{{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Add a Burger</h3>

      <form class="create-form" action="/" method="POST">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="burger_name">
        </div>

        <button type="submit">Add a Burger</button>
      </form>
    </div>
  </div>
</div>